<a href="https://colab.research.google.com/github/MOHAN0283/python_new/blob/module_2/dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
profile={'Name':'Mohan',
         'age':'18',
         'ad.no':'0283'}
print(profile)
print(profile['Name'])        
print(len(profile))

{'Name': 'Mohan', 'age': '18', 'ad.no': '0283'}
Mohan
3

In [ ]:
# you can overwrite by definig the data again
profile={'Name':'Mohan',
         'age':'18',
         'ad.no':'0283',
         'age':'19'}
print(profile)

{'Name': 'Mohan', 'age': '19', 'ad.no': '0283'}

In [ ]:
# get() acessing data
profile={'Name':'Mohan',
         'age':'18',
         'ad.no':'0283',
         'age':'19'}
print(profile)
print(profile['Name'])
print(profile.get('Name'))

{'Name': 'Mohan', 'age': '19', 'ad.no': '0283'}
Mohan
Mohan

In [ ]:
# keys() acessing data
profile={'Name':'Mohan',
         'age':'18',
         'ad.no':'0283',
         'age':'19'}
x=profile.keys()
print(x)

dict_keys(['Name', 'age', 'ad.no'])

In [ ]:
# keys() acessing data
profile={'Name':'Mohan',
         'age':'18',
         'ad.no':'0283',
         'age':'19'}
x=profile.keys()
print(x)
profile['batch']='cse 25'
print(x)

dict_keys(['Name', 'age', 'ad.no'])
dict_keys(['Name', 'age', 'ad.no', 'batch'])

In [ ]:
# values() acessing data
profile={'Name':'Mohan',
         'age':'18',
         'ad.no':'0283',
         'age':'19'}
x=profile.values()
print(x)

dict_values(['Mohan', '19', '0283'])

In [ ]:
# keys() acessing data
profile={'Name':'Mohan',
         'age':'18',
         'ad.no':'0283',
         'age':'19'}
x=profile.values()
print(x)
profile['batch']='cse 25'
print(x)

dict_values(['Mohan', '19', '0283'])
dict_values(['Mohan', '19', '0283', 'cse 25'])

In [ ]:
# items() acessing data
profile={'Name':'Mohan',
         'age':'18',
         'ad.no':'0283',
         'age':'19'}
x=profile.items()
print(x)

dict_items([('Name', 'Mohan'), ('age', '19'), ('ad.no', '0283')])

In [ ]:
# items() acessing data
profile={'Name':'Mohan',
         'age':'18',
         'ad.no':'0283',
         'age':'19'}
x=profile.items()
print(x)
profile['batch']='cse 25'
print(x)

dict_items([('Name', 'Mohan'), ('age', '19'), ('ad.no', '0283')])
dict_items([('Name', 'Mohan'), ('age', '19'), ('ad.no', '0283'), ('batch', 'cse 25')])

In [ ]:
# items() acessing data
profile={'Name':'Mohan',
         'age':'18',
         'ad.no':'0283',
         'age':'19'}
if 'Name' in profile:
  print("t")

t

In [ ]:
# changing items
profile={'Name':'Mohan',
         'age':'18',
         'ad.no':'0283',
         'age':'19'}
profile['age']='18'
print(profile)

{'Name': 'Mohan', 'age': '18', 'ad.no': '0283'}

In [ ]:
# using update()
profile={'Name':'Mohan',
         'age':'18',
         'ad.no':'0283'}
profile.update({'age':'19'})
print(profile)

{'Name': 'Mohan', 'age': '19', 'ad.no': '0283'}

In [ ]:
# adding items
profile={'Name':'Mohan',
         'age':'18',
         'ad.no':'0283'}
profile['batch']='cse 25'
print(profile)

{'Name': 'Mohan', 'age': '18', 'ad.no': '0283', 'batch': 'cse 25'}

In [ ]:
# removing items using pop()
profile={'Name':'Mohan',
         'age':'18',
         'ad.no':'0283'}
profile.pop("age")
print(profile)

{'Name': 'Mohan', 'ad.no': '0283'}

In [ ]:
# removing items using popitem() removes last entered
profile={'Name':'Mohan',
         'age':'18',
         'ad.no':'0283'}
profile.popitem()
print(profile)

{'Name': 'Mohan', 'age': '18'}

In [ ]:
# removing items using del
profile={'Name':'Mohan',
         'age':'18',
         'ad.no':'0283'}
del profile['age']
print(profile)
# it can be used to delete the complete dict

{'Name': 'Mohan', 'ad.no': '0283'}

In [ ]:
# removing items using clear
profile={'Name':'Mohan',
         'age':'18',
         'ad.no':'0283'}
profile.clear()
print(profile)

{}

In [ ]:
# loops
profile={'Name':'Mohan',
         'age':'18',
         'ad.no':'0283'}
for x in profile:
  print(x)

Name
age
ad.no

In [ ]:
# loops
profile={'Name':'Mohan',
         'age':'18',
         'ad.no':'0283'}
for x in profile:
  print(profile[x])

Mohan
18
0283

In [ ]:
# loops
profile={'Name':'Mohan',
         'age':'18',
         'ad.no':'0283'}
for x in profile.values():
  print(x)

Mohan
18
0283

In [ ]:
# loops
profile={'Name':'Mohan',
         'age':'18',
         'ad.no':'0283'}
for x in profile.keys():
  print(x)

Name
age
ad.no

In [ ]:
# loops
profile={'Name':'Mohan',
         'age':'18',
         'ad.no':'0283'}
for x,y in profile.items():
  print(x,y)

Name Mohan
age 18
ad.no 0283

In [ ]:
# copiying dict
profile={'Name':'Mohan',
         'age':'18',
         'ad.no':'0283'}
newprofile=profile.copy()
print(newprofile)

{'Name': 'Mohan', 'age': '18', 'ad.no': '0283'}

In [ ]:
# copiying dict using dict()
profile={'Name':'Mohan',
         'age':'18',
         'ad.no':'0283'}
newprofile=dict(profile)
print(newprofile)

{'Name': 'Mohan', 'age': '18', 'ad.no': '0283'}

In [ ]:
students = {
  "stu1" : {
    "name" : "ram",
    "rank" : '1'
  },
    "stu2" : {
    "name" : "charan",
    "rank" : '2'
  },
   "stu3" : {
    "name" : "yash",
    "rank" : '3'
  }
}
print(students)

{'stu1': {'name': 'ram', 'rank': '1'}, 'stu2': {'name': 'charan', 'rank': '2'}, 'stu3': {'name': 'yash', 'rank': '3'}}

In [ ]:
stu1 = {
  "name" : "ram",
  "rank" : '1'
}
stu2 = {
  "name" : "shyam",
  "rank" : '2'
}
stu3 = {
  "name" : "yash",
  "rank" : '3'
}

students = {
  "stu1" : stu1,
  "stu2" : stu2,
  "stu3" : stu3
}
print(students)

{'stu1': {'name': 'ram', 'rank': '1'}, 'stu2': {'name': 'shyam', 'rank': '2'}, 'stu3': {'name': 'yash', 'rank': '3'}}