<a href="https://colab.research.google.com/github/MOHAN0283/python_new/blob/module_2/Module2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Program to print a specified list after removing the 0th, 4th and 5th elements. 
List1=['Red','Green','White','Black','Pink','Yellow'] 
print(List1[5])
List1.pop(0)
List1.pop(4)
List1.pop()
print(List1)

Yellow
['Green', 'White', 'Black']

In [ ]:
#Program to get the difference between the two lists
l1=[1,2,3,4,5,6]
l2=[9,8,7,6,5]
s1=set(l1)
s2=set(l2)
s3=s1.difference(s2)
l3=list(s3)
print(l3)

[1, 2, 3, 4]

In [ ]:
#Program to find the second smallest number and second largest number in a list
l1=[1,2,3,4,5,6]
x=l1[0]
for i in l1:
  if(i>x):
    y=x
    x=i
print(y)
a=l1[1]
for j in l1:
  if(j<a):
    b=a
    a=j
print(b)

5
2

In [ ]:
l1=[1,2,3,4,5,6]
l1.sort()
print(l1[1],l1[-2])

2 5

In [ ]:
#Given a list of numbers of list, write a Python program to create a list of tuples
#having first element as the number and second element as the square of the number

l1=[1,2,3]
l2=[(x,pow(x,2)) for x in l1]
print(l2)
t2=tuple(l2)
print(t2)

[(1, 1), (2, 4), (3, 9)]
((1, 1), (2, 4), (3, 9))

In [ ]:
#x Given list of tuples, remove all the tuples with length K.
#Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2
l1 = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
k=2
for x in l1:
  if(len(x)==k):
    l1.remove(x)
print(l1)

[(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

In [ ]:
 #Program to generate and print a dictionary that contains a number (between 1
#and n) in the form (x, x*x).
n=int(input("Input a number "))
d = dict()
for x in range(1,n+1):
    d[x]=x*x
print(d)

Input a number 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
#Program to remove a key from a dictionary
d = {'x':1,'y':2,'z':3,'a':4}
if 'a' in d: 
    del d['a']
print(d)

{'x': 1, 'y': 2, 'z': 3}

In [ ]:
#Program to get the maximum and minimum value in a dictionary.
d = {'x':1,'y':2,'z':3,'a':4}
b=d['x']
for i in d.values():
  if i>b:
    #t=b
    b=i
print(b,t)
c=d['y']
for j in d.values():
  if j<c:
    o=c
    c=j
print(c,o)

4 3
1 2

In [ ]:
#splitting of string,accessing
#elements of string using locations
s='Mohana krishna arepalli'
x=s.split()
print(x)

['Mohana', 'krishna', 'arepalli']

In [ ]:

s='I have to go to a doctor and get myself checked'
x=s.count('to')
print(x)

3

In [ ]:
s='Rabbit'
x=s.replace('bb','cc')
print(x)

Raccit

In [ ]:
s='Mohana krishna arepalli'
x=s.split()
print(x)
a=''
for i in x:
  a=a+i[0]
print(a)
z=a.upper()
print(z)

['Mohana', 'krishna', 'arepalli']
Mka
MKA

In [ ]:
l1='Suday Is a Fun Day'
u=0
l=0
for x in l1:
  if x.isupper():
    u=u+1
  elif x.islower():
    l=l+1
  else:
    pass
print(u,l)

4 10

In [ ]:
a= ['abc', 'xyz', 'aba', '1221'] 
c=0
for x in a:
  if(len(x)>=2):
    if(x[0]==x[-1]):
      c=c+1
print(c)

2

In [ ]:
def factorial(n):
  fact=1
  for i in range(1,n+1):
    fact =fact*i
  return fact
def ncr(n,r):
  return factorial(n)/(factorial(r)*factorial(n-r))
n=int(input())
r=int(input())
print(ncr(n,r))

5
2
10.0

In [ ]:
def gcd(a, b):
   if a == b:
      return a
   elif a < b:
      return gcd(b, a)
   else:
      return gcd(b, a - b)

a = 25
b = 10
print(gcd(a, b))

5

In [ ]:
def product(a,b):
  if b==0:
    return 0
  else:
    return (a+product(a,b-1))
a=4
b=50
print(product(a,b))

200

In [ ]:
def fib(n):
  if(n<=1):
    return n
  else:
    return (fib(n-1)+fib(n-2))
n=9
print(fib(n))

34

In [ ]:
def fib(n):
   if n <= 1:
       return n
   else:
       return(fib(n-1) + fib(n-2))

n=10
for i in range(n):
  print(fib(i))

0
1
1
2
3
5
8
13
21
34