<a href="https://colab.research.google.com/github/MOHAN0283/python_new/blob/module_1/module1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=int(input("Enter a number:"))
print(a)

Enter a number:2
2

In [ ]:
a=1
b='1'
c='a'
d="The value of {} is {},{}"
print(d.format(c,a,b))

The value of a is 1,1

In [ ]:
a=int(input("Enter a number:"))
b=int(input("Enter a number:"))
print(a+b,a-b,a*b,a//b,a/b,a%b)

Enter a number:6
Enter a number:2
8 4 12 3 3.0 0

In [ ]:
c=int(input("Enter Temparature in celsius:"))
km=int(input("Enter distance in km :"))
f=(c*9)//5+32
m=6.2*km
d='The temparature in F is {} and distance in miles is {}'
print(d.format(f,m))

Enter Temparature in celsius:0
Enter distance in km :1
The temparature in F is 32 and distance in miles is 6.2

In [ ]:
import math
print(math.ceil(2.1))
print(math.floor(2.1))
print(math.fabs(2))
print(math.fmod(4,2))
print(math.trunc(2.22222))
print(math.pow(2,2))
print(math.sqrt(4))

3
2
2.0
0.0
2
4.0
2.0

In [ ]:
a=int(input("enter the number:"))
b=int(input("enter the number:"))
o=str(input("Select the operation:"))
if o=='+':
  print(a+b)
elif o=='-':
  print(a-b)
elif o=='*':
  print(a*b)
elif o=='/':
  print(a/b)

enter the number:2
enter the number:3
Select the operation:+
5

In [ ]:
a=int(input("enter marks in M:"))
b=int(input("enter marks in P:"))
c=int(input("enter marks in C:"))
d=int(input("enter marks in B:"))
e=int(input("enter marks in E:"))
avg=(a+b+c+d+e)/5
if avg>=90 and avg<=100:
  print("A+")
elif avg>=80 and avg<=89:
  print("A")
elif avg>=70 and avg<=79:
  print("B")
elif avg>=60 and avg<=69:
  print("C")
else:
  print("D")

In [ ]:
a=int(input("enter min range:"))
b=int(input("enter max range:"))
e=0
o=0
print("EVEN:")
for i in range(a,b):
  if(i%2==0):
    print(i)
    e=e+1
print("ODD:")
for i in range(a,b):
  if(i%2!=0):
    print(i)
    o=o+1
print(e,o)

enter min range:1
enter max range:10
EVEN:
2
4
6
8
ODD:
1
3
5
7
9
4 5

In [ ]:
a=int(input("enter the number:"))
fact=1
for i in range(1,a+1):
  fact=fact*i
print(fact)

enter the number:4
24

In [ ]:
a=int(input("enter the number::"))
b=int(input("enter the number:"))
if(a>b):
  s=b
else:
  s=a
for i in range(1,s+1):
  if(a%i==0)and(b%i==0):
    gcd=i
print(gcd)

enter the number::10
enter the number:20
10

In [ ]:
a=int(input("enter the range of numbers required:"))
n1=0
n2=1
print(n1)
print(n2)
for i in range(1,a-1):
  n3=n1+n2
  print(n3)
  n1=n2
  n2=n3

enter the range of numbers required:10
0
1
1
2
3
5
8
13
21
34

In [ ]:
a=int(input("enter the number:"))
sum=0
n=a
while(a>0):
  rem=a%10
  sum=sum*10+rem
  a=a//10
if(n==sum):
  print("p")
else:
  print("np")

enter the number:626
p

In [ ]:
a=int(input("enter the number:"))
n=a
fact=1
sum=0
while(a>0):
  d=a%10
  for i in range(1,d+1):
    fact=fact*i
  sum=sum+fact
  fact=1
  a=a//10
if(n==sum):
  print("s")
else:
  print("ns")

enter the number:145
ns

In [ ]:
a=int(input("enter the number:"))
n=a
sum=0
for i in range(1,a):
  if(a%i==0):
    sum=sum+i
if(n==sum):
  print("p")
else:
  print("np")

enter the number:6
p

In [ ]:
n=int(input("Enter the principle amount:"))
rate=int(input("Enter the rate:"))
years=int(input("Enter the number of years:"))

for i in range(years):
    n=n+((n*rate)/100)
print(n)

Enter the principle amount:1
Enter the rate:2
Enter the number of years:3
1.061208

In [ ]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')